.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0; 
    background-color: #333; 
    color: white; 
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
  }
  